body {
    font-family: "Segoe UI", "San Francisco", Ubuntu, "Open Sans", Roboto, Arial, sans-serif;
    font-size: 1em;
}

.column {
    float: left;
    width: 50%;
}

.row {
    margin-left: 24px;
    margin-bottom: .5em;
}

legend {
    font-weight: bold
}


textarea {
    width: 100%;
}

fieldset {
    margin-bottom: 10px;
}